header {
    text-align: center;
    font-size: 50px;
}
body {
    border: 10px double rgb(30, 4, 59);
    background-color: rgba(193, 168, 207, 0.877);
    color: rgb(37, 12, 104);
}
.addition {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1px;
    border: 1px;
    margin: 1px;
    font-size: 20px;
    white-space: pre;
}
.multiplication {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1px;
    border: 1px;
    margin: 1px;
    font-size: 20px;
    white-space: pre;
}
.subtraction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1px;
    border: 1px;
    margin: 1px;
    font-size: 20px;
    white-space: pre;
}
.division {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1px;
    border: 1px;
    margin: 1px;
    font-size: 20px;
    white-space: pre;
}